@import 'flowbite';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbars */
  .saturn-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .saturn-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    height: 100vh;
  }

  .saturn-scrollbar.isdark::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  .saturn-scrollbar.islight::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  .saturn-scrollbar::-webkit-scrollbar-thumb {
    background: #692EFF;
    border-radius: 100vh;
  }

  /* adding a backdrop blur to drawers/modals */
  /* div[drawer-backdrop] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
  } */
  
  /* apply style to div[drawer-backdrop] for both :active and :hover */
  div[drawer-backdrop]:active, div[drawer-backdrop]:hover {
    box-shadow: none;
  }

  /* div[drawer-backdrop]:active,:hover {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2);
  } */

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Crumbs */
  .crumb-li:not(:first-child)::before {
    content: '_______';
    display: block;
    height: 2px;
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
    color: rgba(0,0,0,0);
    background: linear-gradient(to right, transparent, #692EFF);
  }

  .crumb-li[aria-disabled="true"] {
    opacity: 0.5;
  }

  /* Multisig UI bg image */
  .bg-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}