code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* utilities to style multisig scrollbar */
  .multisig-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .multisig-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    height: 100vh;
  }

  .multisig-scrollbar.isdark::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  .multisig-scrollbar.islight::-webkit-scrollbar-track {
    background: #FFFFFF;
  }

  .multisig-scrollbar::-webkit-scrollbar-thumb {
    background: #692EFF;
    border-radius: 100vh;
  }
}